{% extends 'base.html.twig' %}

{% block body %}

	 <div class="card">
      <div class="card-header">
        <h4>{{ auction.title }}</h4>
      </div>
      <div class="card-body">
     	<p>
        	{{ auction.description }}
        </p>
        <p>Cena(w PLN): 
        	{{ auction.price }} 
        </p>
         <p>Cena wywoławcza(w PLN): 
        	{{ auction.startingPrice }} 
        </p>
        <p>Data zakończenia aukcji: 
        	{{ auction.expiresAt| date("Y-m-d H:i:s") }} 
        </p>
      </div>
	</div>
	<div class="card">
    	  <div class="card-header">
 			Oferty
          </div>
          <div class="card-body">
         	<ul>
         	{% for offer in auction.offers %}
         		<li>Oferta {{ offer.price }} zł, złożona {{ offer.createdAt | date("Y-m-d H:i:s") }} </li>
         	{% endfor %}
         	</ul>
          </div>
	</div>
	{% if is_granted("ROLE_USER") %}
	    {{ form(bidForm, {"attr": {"novalidate": "novalidate"}}) }}
	    {{ form_start(buyForm, {"attr": {"style": "float: left;"}}) }}
        	{{ form_widget(buyForm.submit, {"attr": {"class": "btn-success"}}) }}
        	{{ form_rest(buyForm) }}
    	{{ form_end(buyForm) }}
	{% endif %}
	
	<a class="btn btn-primary" style="float: left;" href="{{ url("auction_index") }}">Cofnij</a>
		
	<div class="clearfix"></div>
	
	
	
	{% if not is_granted("ROLE_USER") %}
		<p>żeby kupować musisz się zalogować</p>
	{% endif %}
	
{% endblock %}